baseURL: "https://forshu.com"
title: Shu's Blog
paginate: 5
theme: PaperMod

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

# googleAnalytics: UA-123-45

googlefonts: "//fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"

minify:
    disableXML: true
    minifyOutput: true

menu:
    main:
        - identifier: home
          name: 首頁
          url: /posts/
          weight: 10
        - identifier: archives
          name: 歸檔
          url: /archives/
          weight: 20
        - identifier: categories
          name: 類別
          url: /categories/
          weight: 30
        - identifier: tags
          name: 標籤
          url: /tags/
          weight: 40
        - identifier: search
          name: 搜尋
          url: /search/
          weight: 50
        - identifier: about
          name: 關於
          url: /about/
          weight: 50

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    title: Shu's Blog
    description: "The place for record."
    keywords: [Blog, Portfolio, Note]
    author: Shu
    # author: ["Me", "You"] # multiple authors
    # images: ["<link or path of image for opengraph, twitter-cards>"]
    DateFormat: "January 27, 2021"
    defaultTheme: auto # dark, light
    disableThemeToggle: false
    ShowReadingTime: true
    ShowShareButtons: true
    ShowPostNavLinks: true
    ShowBreadCrumbs: true
    ShowCodeCopyButtons: true
    disableSpecial1stPost: false
    disableScrollToTop: false
    comments: true
    hidemeta: false
    hideSummary: false
    showtoc: false
    tocopen: true
    mainSections:
        - posts

    fuseOpts:
      isCaseSensitive: false
      includeMatches: true
      shouldSort: true
      location: 0
      distance: 1000
      threshold: 0.4
      minMatchCharLength: 0
      keys: ["title", "permalink", "summary", "content"]

    assets:
        # disableHLJS: true # to disable highlight.js
        # disableFingerprinting: true
        # favicon: "<link / abs url>"
        favicon16x16: "<link / abs url>"
        favicon32x32: "<link / abs url>"
        apple_touch_icon: "<link / abs url>"
        safari_pinned_tab: "<link / abs url>"

    label:
        text: "Shu's Blog"
        # icon: /icon.png
        # iconHeight: 35

    # profile-mode
    profileMode:
        enabled: true # needs to be explicitly set
        title: I'm ShuYuan. 
        subtitle: "Work Hard ! Get Ready/"
        # imageUrl: "<img location>"
        # imageWidth: 120
        # imageHeight: 120
        # imageTitle: my image
        buttons:
            - name: Posts
              url: posts
            - name: Tags
              url: tags
            - name: About
              url: about

    # home-info mode
    homeInfoParams:
        Title: "Hi there \U0001F44B"
        Content: >
            Welcome to Shu's blog !
            - Work Hard! Get Ready/
            - Record something.
            - Comments to me if something was wrong.

    socialIcons:
        # - name: twitter
        #   url: "https://twitter.com/"
        # - name: stackoverflow
        #   url: "https://stackoverflow.com"
        - name: github
          url: "https://github.com/FOR-Shu"
        - name: twitter
          url: "https://twitter.com/mlitfz"
        - name: behance
          url: "https://www.behance.net/annie55063bf69"
        - name: buymeacoffee
          url: "https://www.buymeacoffee.com/forshu"

    analytics:
        google:
            SiteVerificationTag: "XYZabc"
        bing:
            SiteVerificationTag: "XYZabc"
        yandex:
            SiteVerificationTag: "XYZabc"

    cover:
        hidden: true # hide everywhere but not in structured data
        hiddenInList: true # hide on list pages and home
        hiddenInSingle: true # hide on single page

    # editPost:
        # URL: "https://github.com/<path_to_repo>/content"
        # Text: "Suggest Changes" # edit text
        # appendFilePath: false # to append file path to Edit link

    # for search
    # https://fusejs.io/api/options.html
outputs:
  home:
      - HTML
      - RSS
      - JSON # is necessary
taxonomies:
    category: categories
    tag: tags
    series: series

# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
# pygmentsUseClasses: true
# markup:
#     highlight:
#         # anchorLineNos: true
#         codeFences: true
#         guessSyntax: true
#         lineNos: true
#         style: monokai
